body, html{
  /*text-align: center;*/
  margin: 0;
  padding: 0; 
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  background-color: #eee; 
  height: 100%;
}

#inline {
   width:617px;
   height: 100%;
   margin: auto;
   background:#FFF;
   padding:10px 20px;

}
#inline h2
{
	color:#2aa6ff;
	text-align: center;
}
#inline h5
{
	color:#2aa6ff;
	text-align: center;
}
#inline div
{
	text-align: center;
}

#inline div label
{
	color:#676767;
	display:inline-block;
	width: 50%;
	text-align: right;
}

.txt {
   display:inline-block;
   color:#676767;
   width:190px;
   margin-bottom:10px;
   border:1px solid #CCC;
   padding:5px 9px;
   font-size:15px!important;
   line-height:1.4em;
}
.txtarea {
   display:inline-block;
   color:#676767;
   width:500px;
   margin: 20px 0 10px 0;
   border:1px solid #CCC;
   padding:5px 9px;
   font-size:15px!important;
   line-height:1.4em;
   height:100px;
}
.txt:focus, .txtarea:focus {
   border-style:solid;
   border-color:#2aa6ff ;
   color:#444;
}

textarea+span:after
{
	margin-top: 20px;
}

input:invalid+span:after, textarea:invalid+span:after {
  position: absolute; content: '*';
  padding-left: 5px;
  color: #e90000;
}

input:valid+span:after, textarea:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
  color: #009000;
}

.send { 
    color:#FFFFFF;
    display:block;
    cursor:pointer;
    padding:5px 11px;
    font-size:1.2em;
    border:solid 1px #F9F9F9;
    border-radius:2px;
    background:#2aa6ff;
    width:210px;
    margin:auto;
}
.send:hover {
    background:#979797;
}

.progress, .progress:hover
{
	background:#ddd;
	cursor:auto;
}
.success, .success:hover
{
	background:#a2c167;
}
.error, .error:hover
{
	background: #e57c30;
}

